@using Microsoft.Ajax.Utilities
@model IEnumerable<TourAgency.Models.Leg>

@section scripts
{
    <script>
        
    </script>
}

<div id="legsList">


    
    <div class="list-group">


        @foreach (var item in Model)
        { 
            <a href="Guests List" class="list-group-item" data-toggle="modal"  data-target="#GuestListModal" onclick="guestList('@item.LegId');" data-toggle="tooltip" title="Click to see the list of Guests">
                <div class="row">
                    <div class="col-md-3">
                        <br />
                        @*<img src="http://www.flags.net/images/largeflags/@item.StartCountry.Substring(0, 4).ToUpper()0001.GIF" alt="Country image" height="50" width="80"/>*@
                    </div>

                    <div class="col-md-12 text-center">
                        <h4 class="list-group-item-heading"><b>@Html.DisplayFor(modelItem => item.StartLocation)</b> to <b>@Html.DisplayFor(modelItem => item.EndLocation)</b>.
                        </h4>
                        <p class="list-group-item-text">Begin: <b>@Html.DisplayFor(modelItem => item.StartDate)</b>.</p>
                        <p>End: <b>@Html.DisplayFor(modelItem => item.EndDate)</b>.</p>

                        @*@if (item.Guests.Count > 0)
                        {   
                            <button class="btn btn-primary btn-sm" data-toggle="modal"  data-target="#GuestListModal" onclick="guestList('@item.LegId');" style="cursor:pointer" data-toggle="tooltip" title="Click to see the list of Guests">
                                Guests
                                <span class="badge">@item.Guests.Count</span>
                            </button>
                        }
                        else
                        {
                            <div class="label label-danger">No Guests</div>                         
                       
                        }*@
                    </div>
                    <div class="col-md-3">
                        <div class="row text-center">

                            <br />
                            @*<img src="http://www.flags.net/images/largeflags/@item.EndCountry.Substring(0, 4).ToUpper()0001.GIF" alt="Country image" height="50" width="80"/>*@

                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
