@model IEnumerable<TourAgency.Models.Leg>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h4>List of Legs for the Trip: @Html.DisplayFor(model => model.First().trip.name).</h4>
        <h6>Click in a row to see the list of Guests.</h6>
    </div>

</div>

<div class="list-group">


    @foreach (var item in Model)
    { 
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">From <b>@Html.DisplayFor(modelItem => item.startLocation)</b> to <b>@Html.DisplayFor(modelItem => item.endLocation)</b>.
            </h4>
            <p class="list-group-item-text">Starts date: <b>@Html.DisplayFor(modelItem => item.startDate)</b>.</p>
            <p>Ends date: <b>@Html.DisplayFor(modelItem => item.endDate)</b>.</p>
        </a>
       
    }

</div>
