@model IEnumerable<TourAgency.Models.Trip>

@{
    ViewBag.Title = "Trips";
}

@section scripts
{
    <script>

        function guestList(LegId) {
            $.ajax({
                url: '@Url.Action("GuestList", "Leg")',
                data: { id: LegId },
                success: function (data) {
                    $('#GuestListModal').html(data).modal("show");
                }
            });
        }

        function showLegsList(tripId) {
            $.ajax({
                url: '@Url.Action("LegsList")',
                data: { id: tripId },
                success: function (data) {
                    $('#legsList').html(data);
                }
            });
        }

    </script>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-md-8">
    @foreach (var item in Model)
    {
        <div class="panel-heading">
            <h3 class="panel-title"><b>@Html.DisplayFor(modelItem => item.Name)</b></h3>
            <div class="painel-body">

                @Html.DisplayFor(modelItem => item.StartDate)
                
                @Html.DisplayFor(modelItem => item.EndDate)

                @Html.DisplayFor(modelItem => item.MinimumguestN)

                @Html.DisplayFor(modelItem => item.Complete)

                @Html.DisplayFor(modelItem => item.Viable)
                

                @if (item.Legs.Count > 0)
                {   
                    <button class="btn btn-info btn-sm" onclick="showLegsList('@item.TripId');" style="cursor:pointer" data-toggle="tooltip" title="Click to see the list of Legs">
                        Legs
                                <span class="badge">@item.Legs.Count</span>
                    </button>
                        
                }
                else
                {

                    <div class="label label-danger">No Legs</div>
                }

                @Html.ActionLink("Edit", "Edit", new { id = item.TripId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TripId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TripId })


            </div>
        </div>
    }

</div>

<div class="col-md-4" id="legsList">
</div>


<div class="modal fade" id="GuestListModal" tabindex="-1" role="dialog" aria-labelledby="GuestListLabel" aria-hidden="true">
</div>
