@model IEnumerable<TourAgency.Models.Trip>

@{
    ViewBag.Title = "Trips";
}


@section scripts
{

    <script>

        function guestList(LegId) {
            $.ajax({
                url: '@Url.Action("GuestList", "Leg")',
                data: { id: LegId },
                success: function (data) {
                    $('#GuestListModal').html(data).modal("show");
                }
            });
        }

        function showLegsList(tripId) {
            $.ajax({
                url: '@Url.Action("LegsList")',
                data: { id: tripId },
                success: function (data) {
                    $('#rightPanel').html(data);
                }
            });
        }

        function createTrip() {
            $.ajax({
                url: '@Url.Action("Create")',
                success: function (data) {
                    $('#rightPanel').html(data);
                }
            });
        }

    </script>
}

<div class="col-md-7">

    @foreach (var item in Model)
    {
        <div class="thumbnail">
            @*<div class="panel-heading">
            <h3 class="panel-title"></h3>
            <div class="painel-body">*@
            <div class="row">
                <div class="col-md-6">
                    <img src="@item.ImgUrl" style="width: 300px; height: 200px;" />
                </div>

                <div class="col-md-6">
                    <h3><b>@Html.DisplayFor(modelItem => item.Name)</b></h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>
                                From: @Html.DisplayFor(modelItem => item.StartDate)
                            </p>
                            <p>
                                To: @Html.DisplayFor(modelItem => item.EndDate)
                            </p>
                        </div>
                        <div class="col-md-4">
                            @if (item.Legs.Count > 0)
                            {   
                                <button class="btn btn-info btn-sm" onclick="showLegsList('@item.TripId');" style="cursor:pointer" data-toggle="tooltip" title="Click to see the list of Legs">
                                    Legs
                                    <span class="badge">@item.Legs.Count</span>
                                </button>
                        
                            }
                            else
                            {
                                <div class="label label-danger">No Legs</div>
                            }
                        </div>
                    </div>
                    <div class="row col-md-11">
                        <p>Minimum number of Guests: @Html.DisplayFor(modelItem => item.MinimumguestN)</p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="row">
                        <div class="col-md-6">
                            Complete: 
                        @if (item.Complete)
                        {
                            <img src="~/Images/true.png" style="width: 20px; height: 20px;" />     
                        }
                        else
                        {
                            <img src="~/Images/false.png" style="width: 20px; height: 20px;" />
                        }
                        </div>
                        <div class="col-md-6">
                            Viable: 
                        @if (item.Viable)
                        {
                            <img src="~/Images/true.png" style="width: 20px; height: 20px;" />     
                        }
                        else
                        {
                            <img src="~/Images/false.png" style="width: 20px; height: 20px;" />
                        }

                        </div>
                    </div>


                </div>
            </div>

        </div>
    }

</div>

<div class="col-md-5" id="rightPanel">
    @*<div id="rightPanel" style="position: fixed;"></div>*@
</div>



<div class="modal fade" id="GuestListModal" tabindex="-1" role="dialog" aria-labelledby="GuestListLabel" aria-hidden="true">
</div>
