@model IEnumerable<TourAgency.Models.Trip>

@{
    ViewBag.Title = "Trips";
}

@section scripts
{
    <script>
        function showLegsList(TripId) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("LegsList", "Home")',
                data: { id: TripId },
                success: function (data) {
                    $('#legsList').html(data);


                }
            });
        }

        function guestList(LegId) {
            $.ajax({
                url: '@Url.Action("GuestList", "Leg")',
                data: { id: LegId },
                success: function (data) {
                    $('#GuestListModal').html(data).modal("show");
                }
            });
        }

    </script>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-md-8">


    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="row" onclick="showLegsList('@item.TripId')">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinimumguestN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Complete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Viable)
                    </td>
                    <td>
                        @if (item.Legs.Count > 0)
                        {   
                            <button type="button"  class="btn btn-success" onclick="showLegsList('@item.TripId')" data-toggle="tooltip" title="Click to see the Legs">
                                Legs
                            <span class="badge">@item.Legs.Count</span>
                            </button>
   
                        }
                        else
                        {

                            <div class="label label-danger">No Legs</div>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TripId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TripId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TripId })
                    </td>
                </tr>

            </div>
        </div>
    }

</div>

<div class="container col-md-4">
    @*<div class="col-md-2"></div>class="col-md-10"*@
    <div id="legsList"></div>

</div>


<div class="modal fade" id="GuestListModal" tabindex="-1" role="dialog" aria-labelledby="GuestListLabel" aria-hidden="true">
</div>
