<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Marco Leite Continous Assessment 2</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            @*<span class="icon-bar"></span>*@
                        </button>
                        @Html.ActionLink("Orders Manager","Index","Home",null, new {@class="navbar-brand"})
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home","Index","Home")</li>
                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </div>
        
        @RenderSection("featured", required: false)

        
        <div class="container">
            @RenderBody()
            <footer>
                <p>© Marco Leite 2013</p>
        </footer>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")  @* necessary for Ajax.BeginForm() *@
        @RenderSection("scripts", required: false)
    </body>
</html>
