
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Marco's MVC Music Store</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                        @Html.ActionLink("MVC Music Store","Index","Home",null, new {@class="navbar-brand"})
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">@Html.ActionLink("Home","Index","Home")</li>
                            <li>@Html.ActionLink("Albums","Index","Album")</li>
                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </div>
        
        <div class="jumbotron">
            <div class="container">
                @RenderSection("featured", required: false)
            </div>
        </div>

        <div class="container">
            <hr>
            @RenderBody()
            <footer>
                <p>© Marco Leite 2013</p>
            </footer>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
